@import '@/styles/constants.scss';
@import '@/styles/textarea.scss';

.drawer {
  display: flex;
  align-items: center;
  padding: 1%;
}

.editor-section {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 43%;
  min-width: 300px;
  border-radius: 4px;
  margin: 1%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);

  &__content {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
  }
}

.cm-theme-light {
  height: 100%;
  width: 100%;
}

.cm-editor {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;

  &.cm-focused {
    border-radius: 4px;
    outline: transparent;
  }
}

.cm-scroller {
  .cm-gutters {
    font-family: 'DM Sans', sans-serif;
    font-size: $fs-xs;
    background-color: transparent;
  }
}

.cm-content {
  font-family: 'DM Sans', sans-serif;
}
