@import '@/styles/constants.scss';

.about-app {
  max-width: 1200px;
  padding-top: 50px;
  padding-bottom: 48px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $breakpoint-md-min ) {
    flex-direction: column;
  }
  @media screen and (max-width: $breakpoint-sm-min ) {
    padding-top: 20px;
  }

  &__text {
    max-width: 600px;
    margin-top: 30px;
    @media screen and (max-width: $breakpoint-md-min ) {
      max-width: 100%;
    }
  }

  &__title {
    font-weight: $fw-very-bold;
    font-size: $fs-xxl;
    line-height: 1.2;
    @media screen and (max-width: $breakpoint-sm-min ) {
      font-size: $fs-l;
    }
  }

  &__info {
    margin-top: 1em;
    font-size: $fs-m;
    line-height: 1.5;
    letter-spacing: 0.1px;
    font-weight: $fw-regular;
    @media screen and (max-width: $breakpoint-sm-min ) {
      font-size: $fs-s;
    }
  }

  &__logo {
    align-self: center;
    img {
      width: 500px;
      @media screen and (max-width: $breakpoint-lg-min ) {
        width: 400px;
      }
      @media screen and (max-width: $breakpoint-md-min ) {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}

.member-title {
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: var(#{--text-color-default});
  font-weight: $fw-regular;
  text-align: center;

  &__name {
    font-size: $fs-m;
  }

  &__work {
    font-size: $fs-m;
  }
}

.member-image {
  width: 270px;
  height: 280px;
  padding: 2%;
  margin: 0 auto;
}

.about-course {
  width: 80%;
  margin: 6rem auto;
  text-align: center;
  @media screen and (max-width: $breakpoint-sm-min ) {
    margin: 3rem auto;
    width: 100%;
  }

  &__title {
    font-weight: $fw-very-bold;
    font-size: $fs-xxl;
    line-height: 1.3;
    @media screen and (max-width: $breakpoint-sm-min ) {
      font-size: $fs-l;
    }
  }

  &__info {
    margin-top: 1em;
    font-size: $fs-m;
    line-height: 1.5;
    letter-spacing: 0.1px;
    font-weight: $fw-regular;
    @media screen and (max-width: $breakpoint-sm-min ) {
      font-size: $fs-s;
    }
  }
}
