@import '@/styles/constants.scss';

.response {
  height: 50vh;
  width: 36%;
  min-width: 300px;
  background-color: $secondary-color-light;
  border-radius: 4px;
  margin: 1%;
  box-shadow: $box-shadow-light;
  color: $text-color-title;
  padding: 15px;
}
