@import '@/styles/constants.scss';

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
  margin-bottom: 20px;

  &__input {
    width: 400px;

    @media screen and (max-width: $breakpoint-sm-min) {
      width: 300px;
    }
  }
}
