@import '@/styles/constants.scss';

.editor-section {
  position: relative;
  height: 50vh;
  width: 43%;
  min-width: 300px;
  background-color: $third-color-light;
  border-radius: 4px;
  margin: 1%;
  color: $text-color-title;
  box-shadow: $box-shadow-light;
}
.editor-section__request {
  padding: 15px;
}
.editor-section__variables {
  position: absolute;
  bottom: 0;
  padding: 15px;
  padding-top: 5px;
  width: 100%;
  border-top: 1px solid $fourth-color-light;
}
.edit {
  width: 100%;
  resize: none;
  color: $text-color-light;
}
.variables {
  width: 100%;
  resize: none;
}
.drawer {
  display: flex;
  align-items: center;
  padding: 1%;
}
