@import '../../constants.scss';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  color: $text-color;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.5rem 10vh;
  align-items: center;
  z-index: 40;

  &__logo {
    display: flex;
    gap: 5px;
    color: $text-color-title;
    &-img {
      width: 40px;
      height: 40px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-buttons {
      display: flex;
      justify-content: space-between;
    }

    &-links {
      display: flex;
      justify-content: space-between;

      a {
        &:hover {
          color: $hover-button-light;
        }
      }
    }
    &-btn {
      cursor: pointer;
      border: 0;
      border-radius: 4px;
      margin: 0 5px;
      width: 80px;
      padding: 10px 0;
      transition: 0.4s;
      text-align: center;

      &:hover {
        color: $color-white;
        box-shadow: 0 0 20px rgba(111, 117, 225, 0.6);
        background-color: $hover-button-light;
      }

      &:active {
        background-color: #5c7487;
      }
    }
  }

  &__tumblers {
    display: flex;
    gap: 20px;
  }

  &__language {
    &-img {
      height: 32px;
      &:hover {
        transform: scale(105%);
      }
    }
  }

  &__sticky {
    background: $secondary-color-light;
    box-shadow: $box-shadow-light;
  }
}
