// === MIXIN ===

@mixin montserrat {
  font-family: 'Montserrat', sans-serif;
}

// === / MIXIN ===

// === FUNCTIONS ===

@function strip-unit($num) {
  @return calc($num / ($num * 0 + 1px));
}

@function rem($num) {
  @return (calc(strip-unit($num) / 16)) * 1rem;
}

// === / FUNCTIONS ===

// === VARIABLES ===

$base: rem(4px);

$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

$fs-xs: rem(14px);
$fs-s: rem(16px);
$fs-m: rem(18px);
$fs-l: rem(24px);
$fs-xl: rem(30px);
$fs-xxl: rem(36px);
$fs-xxxl: rem(48px);

$transition-01: 0.1s;
$transition-02: 0.2s;
$transition-03: 0.3s;

$color-transparent: rgba(0, 0, 0, 0);
$color-black: rgba(0, 0, 0, 1);
$color-dark: rgba(54, 54, 54, 1);
$color-dark-03: rgba(54, 54, 54, 0.3);
$color-white: rgba(255, 255, 255, 1);
$color-accent: rgba(255, 82, 83, 1);
$color-pressed: linear-gradient(233.73deg, #f83600 -16.08%, #f9d423 327.37%);
$color-hover: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
$color-orange: rgba(248, 94, 9, 1);
$color-warning: rgba(255, 188, 31, 1);
$color-positive: rgba(0, 202, 113, 1);
$color-positive-background: rgba(235, 249, 241, 1);
$color-negative: rgba(244, 44, 79, 1);
$color-negative-background: rgba(254, 235, 234, 1);
$color-grey-black-70: rgba(114, 114, 114, 1);
$color-grey-black-40: rgba(167, 167, 167, 1);
$color-grey-black-20: rgba(191, 196, 201, 1);
$color-grey-black-10: rgba(235, 235, 235, 1);
$color-grey-black-5: rgba(249, 249, 250, 1);

$primary-color-light: rgba(248, 244, 235, 1);
$secondary-color-light: rgb(238, 232, 219);
$hover-button-light:#768fa3;
$primary-color-dark: #3c3744;
$secondary-color-dark: #5e5e5e;

$text-color: #393D3F;
$text-color-title: #546A7B;

$box-shadow-light: 0px 2px 3px rgba(0, 0, 0, 0.3);

$breakpoint-xxs-min: 320px;
$breakpoint-xs-min: 480px;
$breakpoint-sm-min: 576px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 992px;
$breakpoint-xl-min: 1200px;
$breakpoint-xxl-min: 1440px;

$breakpoint-xxxs-max: $breakpoint-xxs-min - 1px;
$breakpoint-xxs-max: $breakpoint-xs-min - 1px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

// === / VARIABLES ===
